.wrap{
    width: 1000px;
    height: auto;
    background: #fff;
    margin: 20px auto;
    overflow: hidden;
}
.wrap-hynet{
    width: 700px;
    height: auto;
    background: #fff;    
    overflow: hidden;
}
	.headline{
		width: 970px;		
		height: auto;
		background: #FFFFFF;
		border-bottom: 1px solid #E4E4E4;
		overflow: hidden;
	}
		.headline p,.headline a{
			display: block;
			font-size: 18px;
			color: #000000;
			line-height: 20px;
			height: 20px;
			margin:20px 0;
		}
			.headline a {
				display: block;
				padding-right: 15px;
				margin-right: 15px;
				border-right: 1px solid #000;
			}
	.listbox{
		height: auto;		
		overflow: hidden;
		width: 970px;
		margin: 0 auto;
		cursor: pointer;
                margin-bottom: 25px;                
	}
		.listbox .list-block{
			display: block;
			float: left;
			width: 215px;
			height: 230px;
			background: #FFFFFF;
			border: 1px solid #fff;
			margin: 25px 12px 0 13px;
		}
		.listbox .list-block.active{
			border: 1px solid #00C1DE;
		}
		.listbox .list-block.active p{
			display: block;
		}
			.listbox .list-block img{
				width: 65px;
				height: 65px;
				display: block;
				margin: 57px auto 0 auto;				
			}
			.listbox .list-block h3{
				width: 180px;
				height: auto;
				margin: 20px auto;
				font-size:14px;
				text-align: center;
				color:#000;
			}
			.listbox .list-block p{
				width: 140px;
				height: 30px;
				line-height: 30px;
				margin: 0 auto;
				background: #00C1DE;
				border-radius: 4px;
				text-align: center;
				color:#fff;
				display: none;
			}


/*�����ĵ�����*/
.add-border{
	border: 1px solid #E4E4E4;
}
.menu{
	width: 180px;
	height: 100%;
}
	.menu-headline{
		width: 100%;
		height: 60px;
		border-bottom: 1px solid #E4E4E4;
	}
		.menu-headline i{
			float: left;
			display: block;
			width: 2px;
			height: 13px;
			background: #000;
			margin:23px 12px 23px 20px;
		}
		.menu-headline p{
			float: left;
			font-size: 14px;
			color: #000000;
			line-height: 60px;
		}
	.menulist{
		width: 100%;
		height: auto;
		overflow: hidden;
	}
		.menulist .menulist-text{
			width: 100%;
			height: auto;
			line-height: 40px;
			border-bottom: 1px solid #E4E4E4;
			cursor: pointer;
		}
		.menulist .menulist-text:hover,.menulist .menulist-text.active{
			background: #F1F2F7;
		}
			.menulist .menulist-text i{
				display: block;
				float: left;
				width: 25px;
				height: 25px;
				margin-top:7px;
				margin-left:29px;
			}
				.menulist.active .menulist-text img.down{
					display: block;
				}
				.menulist .menulist-text img{
					width: 100%;
					height: 100%;
				}
				.menulist .menulist-text img.down,.menulist.active .menulist-text img.up{
					display: none;
				}
		.menulist.active .second_menu{
			display: block;
		}
		.second_menu{
			display: none;
		}
			.second_menu li{
				width: 130px;
				height: auto;
				line-height: 40px;
				padding-left: 50px;
				cursor: pointer;
			}
			.second_menu li.active{
				background: #00C1DE;
				color:#fff;
			}


.article{
	width: 82%;
	height: 100%;
	overflow: auto;
	border-left:1px solid #E4E4E4;
	box-sizing: border-box;
}
	.article-headline{
		width: 100%;
		height: 60px;
		border-bottom: 1px solid #E4E4E4;
	}
		.article-headline h3{
			width: 60%;
			height: 60px;
			line-height: 60px;
			padding-left:25px;
			font-size: 14px;
			color: #000000;
		}
		.article-headline .searchbox{
			width: 200px;
			height: 30px;
			margin: 15px 30px;
			background: #FFFFFF;
			border: 1px solid #C7C7CD;
			border-radius: 100px;
			position: relative;
		}
			.article-headline .searchbox input{
				width: 80%;
				height: 24px;
				line-height: 26px;
				color: #898989;
				margin: 2px 14px;
				border: none;
			}
			.article-headline .searchbox input:focus{
				border: none;
				height: 24px;
				line-height: 27px;
				outline: none;
			}
		.article-headline .searchbox i{
			width: 25px;
			height: 25px;
			position: absolute;
			right: 6px;
    		top: 2px;
		}
			.article-headline .searchbox img{
				width: 100%;
				height: 100%;
			}

	.article-text{
		margin: 25px;
		
	}
		.article-text .text-headline{
		 	font-size:14px;
		 	height: 40px;	 	
		 	position: relative;
		 	width: auto;
		 	border-bottom: 1px solid #C7C7CD;
		}
			.article-text .text-headline span{
				width: auto;
				display:inline-block;
				height: 40px;
				line-height: 40px;
				border-bottom: 1px solid #00C1DE;
			}
	.textbox{
		width: 100%;
		height: auto;
		margin-top:10px;
		overflow: auto;
		font-size: 12px;
		color: #505050;
		line-height: 17px;
	}

/*��������*/
.orderform{
	margin: 40px 30px;
	height: auto;
	overflow: auto;
}
.listbox .list-block img.demo_no,.listbox .list-block h3.demo_no{
	display: none ;
	color: #ACACAC;
}
	.order-pic{
		width: 290px;
		height: 290px;
		background: #FFFFFF;
		border: 1px solid #E4E4E4;
		position: relative;
	}
		.order-pic img{
			width: 206px;
			height: 236px;
			display: block;
			margin: 27px auto;
		}
		.order-pic p{
			position: absolute;
			bottom:10px;
			left: 15px;
			font-size: 12px;
			color: #ACACAC;
			line-height: 12px;
		}
	.order-text{
		width: 606px;
		height: auto;
	}
		.order-text h3{
			font-size: 18px;
			color: #000000;
		}
		.order-text .order-price{
			margin: 30px 0;
			width: 100%;
			height: auto;
			overflow: hidden;
		}
			.order-text .order-price p{
				color: #505050;
			}
			.order-text .order-price .price{
				font-size: 14px;
			}
				.order-text .order-price .price span{
					font-size: 36px;
				}
			.order-text .order-price .remind{
				color: #FF4400;
			    margin-top: 20px;
			}
		.order-text dl{
			height: 25px;
			width: 100%;
			margin-bottom: 37px;
		}
			.order-text dl dt{
				width: auto;
				font-size: 14px;
				margin-right: 20px;
				line-height: 25px;
			}				
				.order-text dl dd,.number-box dd{
					background: #FFFFFF;
					border: 1px solid #CBCACF;
					text-align: center;
					width: 62px;
					height: 23px;
					line-height: 23px;
					margin-right:14px;
					cursor: pointer;
				}
				.order-text dl.color-box dd.active{
					border: 1px solid #00C1DE;
				}
				.number-box{
					height: 25px;
					line-height: 25px;
					text-align: center;
				}
				.number-box dd input{
					width: 60px;
					border: none;
					height:18px\9;
					text-align: center;
				}
				.number-box dd.number-btn{
					border: none;
				}
				.number-box dd.number-btn p{
					width: 28px;
					height: 23px;
					display: block;
					float: left;
					border: 1px solid #CBCACF;
				}

/*�����ύ*/

.order-schedule{
	width: 100%;
	height: auto;
	overflow: hidden;
}
	.order-schedule dl{
		width: 33.3%;
		height: auto;
	}	
		.order-schedule dl.active dt{
			color:#000;
		}
		.order-schedule dl.active dd span,.order-schedule dl.active dd i{
			background:#00c1de;
		}
		.order-schedule dl dt{
			text-align: center;
			font-size:12px;
			color:#ababab;
		}
		.order-schedule dl dd{
			width: 100%;
			height: 25px;
			margin-top:15px;
			position: relative;
		}
			.order-schedule dl dd span{
				display: block;
				width: 25px;
				height: 25px;
				background: #dcdcdc;
				border-radius: 100%;
				text-align: center;
				line-height: 25px;
				margin: 0 auto;
				color:#fff;
				position: relative;
				z-index: 999;
			}
			.order-schedule dl dd i{
				position: absolute;
				left: 0;
				top: 50%;
				margin-top:-1px;
				width: 100%;
				height: 2px;
				background: #dcdcdc;
				z-index: 0;
			}

.order-site,.order-msg{
	width: 100%;
	height: auto;
	overflow:hidden;

}
	.order-site .title ,.order-msg .title{
		font-size: 14px;
		color: #000000;
		margin-top:40px;
	}
	.order-site .sitebox{
		width: 220px;
		height: 100px;
		margin: 10px 0;
		background: url("../images/bz03.png") 0 0 no-repeat;
		background: url("../images/bz03_1.png") 0 0 no-repeat \9;
		background-size:100% 100%;
		cursor: pointer;
	}
		.order-site .sitebox h3{
			padding: 10px 19px;
			font-size: 14px;
			color: #000000;
		}
		.order-site .sitebox p{
			padding: 0 19px;
			font-size: 14px;
			color: #505050;
		}
.order-list{
	margin: 20px 0;
}
	.order-list ul{
		width: 100%;
		overflow: hidden;
	}
		.order-list li{
			display: block;
			float: left;
			width: auto;
			padding: 8px 0;
			border-bottom:1px solid #CBCACF;
		}
	.order-list .order-list-title li{
		font-size: 14px;
		color: #898989;
	}
	.order-list .order-list-con li{
		height: 75px;
		line-height: 75px;
		font-size: 14px;
		color: #000000;
		padding: 20px 0; 
	}
	.order-list .order-list-con li .picbox{
		width: 75px;
		height: 75px;
		background: #FFFFFF;
		border: 1px solid #E4E4E4;
		margin-right: 20px;
	}
		.order-list .order-list-con li .picbox img{
			width: 58px;
			height: 66px;
			display: block;
			margin: 4px auto;
		}
		.order-list .order-list-con li .number-box{
			margin:25px 0;
		}
	.btnbox p{
		font-size: 14px;
		color: #000000;
		line-height: 40px;
		margin-right: 20px; 
		cursor: pointer;
	}
		.btnbox p span{
			color:#00C1DE;
			font-size:18px;
		}

/*֧����ʽ*/
.paybox{
	margin-top:50px;
}
	.pay-msg{
		width: 100%;
		height: auto;
		padding: 10px 0;
		overflow: hidden;
		border-bottom:1px solid #CBCACF;
	}
		.pay-msg dt{
			font-size: 18px;
			color: #000000;
			margin-bottom: 16px;
		}
		.pay-msg dd{
			color: #898989;			
		}
		.pay-msg dd.mr30{
			margin-right: 30px;
		}
	.pay-list{
		margin-top:40px;
		margin-bottom: 20px;
		width: 100%;
		height: auto;
	}
		.pay-list p{
			font-size: 14px;
			color: #000000;
			padding: 10px 0;
		}
		.pay-list ul{
			padding: 20px 0;
			border-bottom:1px solid #CBCACF;
			border-top:1px solid #CBCACF;
			height: auto;
			overflow: hidden;
		}
		.pay-list ul li{
			width: 140px;
			height: 45px;
			display: block;
			float: left;
			margin: 10px 14px 10px 0;
			border:1px solid #EEEEEE;
			cursor: pointer;
			position: relative;
		}
		.mNone{
			margin-right: 0px !important;

		}
			.pay-list ul li img{
				position: absolute;
				top: 50%;
				left:50%;
                                width: 140px;
                                height: 45px;
				margin-left:-70px;
                                margin-top:-22px;
				                              
			}
		.pay-list ul li.active{
			border-color:#00C1DE;

		}

/*֧������*/
.shade{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.23);
	z-index: 9999;
}
.pop-up{
	position: fixed;
	top: 50%;
	left:50%;
	width: 420px;
	height: 210px;	
	margin-left:-210px;
	margin-top:-105px;
	background: #FFFFFF;
	z-index: 99999;
}
	.pop-up .title{
		width: 100%;
		height: 44px;
		font-size:14px;
		text-align: center;
		line-height: 44px;
		background: #FFFFFF;
		border-bottom:1px solid  #E4E4E4;
	}
	.pop-up .pop-up-con{
		margin: 30px;
		text-align: center;
	}
		.pop-up .pop-up-con h3{
			font-size: 14px;
			color: #000000;
			line-height: 20px;

		}
		.pop-up .pop-up-con p{
			font-size: 12px;
			color: #898989;
			line-height: 17px;
			margin: 10px 0;
		}
		.pop-up .pop-up-con .btnbox{
			margin-top:25px;
		}

/*֧�����*/
.pay-result{
	margin: 40px 30px;
    height: auto;
    overflow: auto;
}
	.pay-result .title{
		width: 100%;
		height: 60px;
		line-height: 60px;
		font-size: 18px;
		color: #000000;
		background: #ECFFDC;
	}
	.pay-error  .title{
		background: #F8F8F8;
	}
		.pay-result .title i{
			display: block;
			width: 30px;
			height: 30px;
			margin: 15px 20px 15px 30px;
		}
			.pay-result .title i img{
				width: 100%;
				height: 100%;
			}
	.pay-result .result-text{
		background: #FFFFFF;
		border: 1px solid #E4E4E4;
		padding: 15px 20px 30px 30px;
	}
		.pay-result .result-text p{
			font-size: 12px;
			color: #898989;
			line-height: 30px;
		}
	.pay-result .btnbox{
		width: 362px;
		height: auto;
		margin: 20px auto;
	}
		
/*��Դ����*/
.menu_first li{
	width: 143px;
	height: auto;
	line-height: 40px;
	padding-left: 38px;
	border-bottom: 1px solid #E4E4E4;
	cursor: pointer;
	position: relative;
}
	.menu_first li i{
		position: absolute;
		left:20px;
		top:50%;
		margin-top:-2px;
		width: 4px;
		height: 4px;
		border-radius: 100%;
		background: #ababab;
	}
.menu_first li.active{
	background: #00C1DE;
	border-bottom: 1px solid #00C1DE;
	color:#fff;
}
.menu_first li.active i{
	background: #fff;
}
	.textbox-con li{
		width: 138px;
		height: 28px;
		display: block;
		padding:10px 20px;
		float: left;
		border: 1px solid #E4E4E4;
		margin-right: 16px;
		margin-top:10px;
		cursor: pointer;
		position: relative;
	}
		.textbox-con li span{
			color:#00C1DE;
		}
		.textbox-con li i{			
			position: absolute;
			top:50%;
			right: 10px;
			margin-top:-7px;
			width: 15px;
			height: 15px;
			display: none;
		}
		.textbox-con li.active{
			border: 1px solid #00C1DE;
		}
		.textbox-con li.active i{
			display: block;
		}
			.textbox-con li i img{
				width: 100%;
				height: 100%;
			}

/*ϵͳ�ʴ�*/
.con-tab{
	width: 780px;
	height: auto;
	margin: 30px auto;
	background: #FFFFFF;
	border: 1px solid #CBCACF;
	border-bottom: none;
}
	.tab-box{
		height: auto;
		border-bottom: 1px solid #CBCACF;
	}
		.tab-box .title {
			height: 60px;
			width: 100%;
			line-height: 60px;
			cursor: pointer;
		}
			.tab-box .title h3{
				font-size: 14px;
				color: #000000;
				line-height: 60px;
				padding-left: 20px;
			}
			.tab-box .title i{
				display: block;
				width: 60px;
				height: 60px;
				border-left:1px solid #CBCACF;
			}

				.tab-box .title i img{
					width: 20px;
					height: 20px;
					margin: 20px auto;
				}
				.tab-box .title i img.up,.tab-box.active .title i img.down{
					display: none;
				}
				.tab-box.active .title i img.up, .tab-box.active .text{
					display: block;
				}

			.tab-box .text{
				margin-left: 20px;
				padding:20px 0;
				height: atuo;
				border-top:1px solid #CBCACF;
				font-size: 12px;
				color: #505050;
				display: none;
			}
				.tab-box .text p{
					line-height: 30px;
				}